<!DOCTYPE html>
<html>
<head>
	<title>
		Signin page
	</title>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script>
		var p = 541 


		function submit(){
			var userTextBox = document.getElementById("username").value;
			var pwdTextBox = document.getElementById("pwd").value;
			$.post("/submit", {"username": userTextBox, "pwd": pwdTextBox})
			
			var confirmPin = prompt("Please enter the SMS confirmation code : ", "");
			$.post("/verify", {"verify": confirmPin}, function( data){
				alert(data)
			})
		}
	</script>
</head>
<body>
	<h1>Signin credentials : </h1><br/>
	<div>
		<p>Username : </p><input id="username" type="text" /><br/>
		<p>Password : </p><input id="pwd" type="password"/><br/>
		<button onClick="submit()">Submit</button>
	</div>
</body>
</html>
